<h1>Hello, World!</h1>
<p>Welcome to my Ruby on Rails website!</p>
<%= link_to 'Next', welcome_next_path, class: "btn btn-primary" %>
<%= link_to 'Next2', welcome_next2_path, class: "btn btn_primary" %>
